<div class="container">
    <h1>Apmeklējumi</h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/LabResults']">Laboratorija</a></li>
        <li class="active">Apmeklējumi</li>
    </ol>
    <div class="row">
        <lab-menu></lab-menu>
        <div class="col-md-9">
            <table class="visits table" *ngIf="visits">
                <thead>
                <tr>
                    <th>Datums</th>
                    <th>Testi</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#visit of visits">
                    <td class="text-nowrap"><a [routerLink]="['Details', {id: visit.id}]">{{visit.material.dateTested.substr(0,10)}}</a></td>
                    <td>
                        <template ngFor #test [ngForOf]="visit.testGroups">
                            <span class="label label-primary">{{test.name}}</span>&nbsp;
                        </template>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
