<div class="container lab-visit-details">
    <h1>Apmeklējumi</h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/LabResults']">Laboratorija</a></li>
        <li><a [routerLink]="['/LabVisits']">Apmeklējumi</a></li>
        <li class="active" *ngIf="visit">{{visit.material.dateTested.substring(0,10)}}</li>
    </ol>
    <div class="row">
        <lab-menu selected="/LabVisits"></lab-menu>
        <div class="col-md-9">
            <h2>Apmeklējuma detaļas</h2>
            <div *ngIf="visit" class="visit">
                <div class="panel panel-default summary">
                    <div class="panel-heading">Kopsavilkums
                        <button (click)="showProperties()" *ngIf="!propertiesVisible">Izvērst</button>
                        <button (click)="hideProperties()" *ngIf="propertiesVisible">Paslēpt</button>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="!propertiesVisible">
                            <b>Datums</b>: {{visit.material.dateTested}}<br/>
                            <b>Materiāla veids</b>: <span class="label label-danger">{{visit.material.type}}</span><br/>
                            <b>Laboratorija</b>: {{visit.laboratory.name}}<br/>
                            <b>Pacients</b>: {{visit.patient.name}}<br/>

                        </div>
                        <div class="row properties" *ngIf="propertiesVisible">
                            <div class="col-md-12">
                                <table class="table details table-condensed">
                                    <thead>
                                    <tr>
                                        <th colspan="2"><h3>Materiāls</h3></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Datums</th>
                                        <td>{{visit.material.dateTested}}</td>
                                    </tr>
                                    <tr>
                                        <th>Materiāla veids</th>
                                        <td><span class="label label-danger">{{visit.material.type}}</span></td>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th colspan="2"><h3 class="following">Laboratorija</h3></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Vārds</th>
                                        <td>{{visit.laboratory.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Adrese</th>
                                        <td>{{visit.laboratory.address}}</td>
                                    </tr>
                                    <tr *ngIf="visit.technicians.collectedBy != null">
                                        <th>Pieņēma</th>
                                        <td>{{visit.technicians.collectedBy}}</td>
                                    </tr>
                                    <tr *ngIf="visit.technicians.testedBy != null">
                                        <th>Testēja</th>
                                        <td>{{visit.technicians.testedBy}}</td>
                                    </tr>
                                    <tr *ngIf="visit.technicians.qualityControlledBy != null">
                                        <th>Pārbaudīja</th>
                                        <td>{{visit.technicians.qualityControlledBy}}</td>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th colspan="2"><h3 class="following">Ārsts</h3></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Vārds</th>
                                        <td>{{visit.doctor.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Ārstniecības iestāde</th>
                                        <td>{{visit.doctor.clinic}}</td>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th colspan="2"><h3 class="following">Pacients</h3></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Vārds</th>
                                        <td>{{visit.patient.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Dzimums</th>
                                        <td>{{visit.patient.sex}}</td>
                                    </tr>
                                    <tr>
                                        <th>Dzimšanas datums</th>
                                        <td>{{visit.patient.dateOfBirth}}</td>
                                    </tr>
                                    <tr>
                                        <th>Personas kods</th>
                                        <td>{{visit.patient.personalId}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row results">
                    <div class="col-md-12">
                        <table class="table results">
                            <template ngFor #group [ngForOf]="visit.testGroups" #idx="index">
                                <thead>
                                <tr>
                                    <td colspan="5">
                                        <h3 [class.following]="idx > 0">{{group.name}}</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tests</th>
                                    <th>Rezultāts</th>
                                    <th *ngIf="group.hasLevels">Līmenis</th>
                                    <th *ngIf="!group.hasLevels">References intervāls</th>
                                    <th>Vienības</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="#test of group.tests" [class]="highlightClass(test)">
                                    <td>{{test.name}}</td>
                                    <td>{{test.value}}</td>
                                    <td *ngIf="group.hasLevels && test.level !== undefined">{{test.level}}</td>
                                    <td *ngIf="!group.hasLevels">
                                        <span *ngIf="test.referenceInterval">
                                            {{test.referenceInterval.minValue}} - {{test.referenceInterval.maxValue}}
                                        </span>
                                        <span *ngIf="test.referenceValue !== undefined">
                                            {{test.referenceValue}}
                                        </span>
                                    </td>
                                    <td>{{test.units}}</td>
                                </tr>
                                </tbody>
                            </template>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row return-link">
                <div class="col-md-12">
                    <button (click)="goBack()">Atpakaļ</button>
                </div>
            </div>
        </div>
    </div>
</div>
