<div class="container">
    <h1>Apmeklējumi</h1>
    <ol class="breadcrumb">
        <li class="active">Laboratorija</li>
        <li class="active">Apmeklējumi</li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" [routerActive]="hie"><a [routerLink]="['../LabResults']">Rezultāti</a></li>
                <li role="presentation" [routerActive]="yo"><a [routerLink]="['../LabVisits']">Apmeklējumi</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <table class="visits table" *ngIf="visits">
                <thead>
                <tr>
                    <th>Laboratorija</th>
                    <th>Testi</th>
                    <th>Datums</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#visit of visits">
                    <td>
                        <a href="#">{{visit.laboratory.name}}</a>
                    </td>
                    <td>
                        <template ngFor #test [ngForOf]="visit.tests">
                            <span class="label label-primary">{{test.name}}</span>&nbsp;
                        </template>
                    </td>
                    <td>{{visit.material.dateTested}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
